<h1>will be Campgrounds!</h1>

<div>
    <% campgrounds.forEach(function(campground){ %>
        <div>
            <h4>
                <%= campground.name %>
            </h4>
            <img src="<%= campground.image %>">
        </div>
        <% }); %>
</div>

<a href="/">Home</a>